### Import Pandas Library

Import library and read the dataset:

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/Users/gandes.goldestan/gandesgold/airbnb/NYC_2019.csv')

In [10]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [11]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [12]:
df.index

RangeIndex(start=0, stop=48895, step=1)

In [13]:
df.values

array([[2539, 'Clean & quiet apt home by the park', 2787, ..., 0.21, 6,
        365],
       [2595, 'Skylit Midtown Castle', 2845, ..., 0.38, 2, 355],
       [3647, 'THE VILLAGE OF HARLEM....NEW YORK !', 4632, ..., nan, 1,
        365],
       ...,
       [36485431, 'Sunny Studio at Historical Neighborhood', 23492952,
        ..., nan, 1, 27],
       [36485609, '43rd St. Time Square-cozy single bed', 30985759, ...,
        nan, 6, 2],
       [36487245, "Trendy duplex in the very heart of Hell's Kitchen",
        68119814, ..., nan, 1, 23]], dtype=object)

To see type and shape of DataFrame:

In [14]:
type(df)

pandas.core.frame.DataFrame

In [16]:
df.shape

(48895, 16)

We can see here that this dataset doesn't have any missing value:

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
id                                48895 non-null int64
name                              48879 non-null object
host_id                           48895 non-null int64
host_name                         48874 non-null object
neighbourhood_group               48895 non-null object
neighbourhood                     48895 non-null object
latitude                          48895 non-null float64
longitude                         48895 non-null float64
room_type                         48895 non-null object
price                             48895 non-null int64
minimum_nights                    48895 non-null int64
number_of_reviews                 48895 non-null int64
last_review                       38843 non-null object
reviews_per_month                 38843 non-null float64
calculated_host_listings_count    48895 non-null int64
availability_365                  48895 non-null int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [17]:
df['name'] ## to get a single column

0                       Clean & quiet apt home by the park
1                                    Skylit Midtown Castle
2                      THE VILLAGE OF HARLEM....NEW YORK !
3                          Cozy Entire Floor of Brownstone
4         Entire Apt: Spacious Studio/Loft by central park
5                Large Cozy 1 BR Apartment In Midtown East
6                                          BlissArtsSpace!
7                         Large Furnished Room Near B'way
8                       Cozy Clean Guest Room - Family Apt
9                       Cute & Cozy Lower East Side 1 bdrm
10                        Beautiful 1br on Upper West Side
11                         Central Manhattan/near Broadway
12          Lovely Room 1, Garden, Best Area, Legal rental
13        Wonderful Guest Bedroom in Manhattan for SINGLES
14                           West Village Nest - Superhost
15                        Only 2 stops to Manhattan studio
16                       Perfect for Your Parents + Garden
17                                         Chelsea Perfect
18         Hip Historic Brownstone Apartment with Backyard
19                       Huge 2 BR Upper East  Cental Park
20                        Sweet and Spacious Brooklyn Loft
21                          CBG CtyBGd HelpsHaiti rm#1:1-4
22                                CBG Helps Haiti Room#2.5
23                                   CBG Helps Haiti Rm #2
24                  MAISON DES SIRENES1,bohemian apartment
25                      Sunny Bedroom Across Prospect Park
26       Magnifique Suite au N de Manhattan - vue Cloitres
27                                    Midtown Pied-a-terre
28            SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM
29                        Modern 1 BR / NYC / EAST VILLAGE
                               ...
48865                        1 bedroom in sunlit apartment
48866                                   CozyHideAway Suite
48867      The place you were dreaming for.(only for guys)
48868                         Heaven for you(only for guy)
48869                          Cozy, Sunny Brooklyn Escape
48870        Cozy, clean Williamsburg 1- bedroom apartment
48871        A LARGE ROOM - 1 MONTH MINIMUM - WASHER&DRYER
48872                                        Nycity-MyHome
48873                                    Brooklyn paradise
48874                     Short Term Rental in East Harlem
48875                                Welcome all as family
48876      Cozy, Air-Conditioned Private Bedroom in Harlem
48877               Studio sized room with beautiful light
48878                                        Room for rest
48879    Gorgeous 1.5 Bdr with a private yard- Williams...
48880    The Raccoon Artist Studio in Williamsburg New ...
48881                     Peaceful space in Greenpoint, BK
48882                            Bushwick _ Myrtle-Wyckoff
48883         Sunny Bedroom NYC! Walking to Central Park!!
48884          Brooklyn Oasis in the heart of Williamsburg
48885      Stunning Bedroom NYC! Walking to Central Park!!
48886                      Comfy 1 Bedroom in Midtown East
48887      Garden Jewel Apartment in Williamsburg New York
48888    Spacious Room w/ Private Rooftop, Central loca...
48889                                   QUIT PRIVATE HOUSE
48890      Charming one bedroom - newly renovated rowhouse
48891        Affordable room in Bushwick/East Williamsburg
48892              Sunny Studio at Historical Neighborhood
48893                 43rd St. Time Square-cozy single bed
48894    Trendy duplex in the very heart of Hell's Kitchen
Name: name, Length: 48895, dtype: object

In [18]:
name_df = df['name']

In [14]:
name_df.head()

0                  Clean & quiet apt home by the park
1                               Skylit Midtown Castle
2                 THE VILLAGE OF HARLEM....NEW YORK !
3                     Cozy Entire Floor of Brownstone
4    Entire Apt: Spacious Studio/Loft by central park
Name: name, dtype: object

In [15]:
type(name_df)

pandas.core.series.Series

Get a subset of table with some columns:

In [16]:
subset = df[['name', 'host_name', 'price']]

In [17]:
subset.head()

                                               name    host_name  price
0                Clean & quiet apt home by the park         John    149
1                             Skylit Midtown Castle     Jennifer    225
2               THE VILLAGE OF HARLEM....NEW YORK !    Elisabeth    150
3                   Cozy Entire Floor of Brownstone  LisaRoxanne     89
4  Entire Apt: Spacious Studio/Loft by central park        Laura     80

To see version number of Pandas:

In [18]:
pandas.__version__

'0.24.2'

Selection feature using .loc, .iloc, and .ix:

In [21]:
df.loc[2]

id                                                               3647
name                              THE VILLAGE OF HARLEM....NEW YORK !
host_id                                                          4632
host_name                                                   Elisabeth
neighbourhood_group                                         Manhattan
neighbourhood                                                  Harlem
latitude                                                       40.809
longitude                                                    -73.9419
room_type                                                Private room
price                                                             150
minimum_nights                                                      3
number_of_reviews                                                   0
last_review                                                       NaN
reviews_per_month                                                 NaN
calculated_host_listings_count                                      1
availability_365                                                  365
Name: 2, dtype: object

In [30]:
df.loc[df.id == 3647]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.9419,Private room,150,3,0,NaN,NaN,1,365

In [20]:
df.iloc[[2,4]] # Get the index 2 & 4

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.1,1,0

In [24]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [33]:
df.ix[2]

/Users/gandes.goldestan/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

id                                                               3647
name                              THE VILLAGE OF HARLEM....NEW YORK !
host_id                                                          4632
host_name                                                   Elisabeth
neighbourhood_group                                         Manhattan
neighbourhood                                                  Harlem
latitude                                                       40.809
longitude                                                    -73.9419
room_type                                                Private room
price                                                             150
minimum_nights                                                      3
number_of_reviews                                                   0
last_review                                                       NaN
reviews_per_month                                                 NaN
calculated_host_listings_count                                      1
availability_365                                                  365
Name: 2, dtype: object

In [19]:
subset = df.loc[:,['name', 'price']] ## Get the subset with loc

In [35]:
subset.head()

                                               name  price
0                Clean & quiet apt home by the park    149
1                             Skylit Midtown Castle    225
2               THE VILLAGE OF HARLEM....NEW YORK !    150
3                   Cozy Entire Floor of Brownstone     89
4  Entire Apt: Spacious Studio/Loft by central park     80

For more advance selection:

In [37]:
df.loc[df['room_type'] == 'Private room', ['name', 'price', 'room_type']]

                                                    name  price     room_type
0                     Clean & quiet apt home by the park    149  Private room
2                    THE VILLAGE OF HARLEM....NEW YORK !    150  Private room
6                                        BlissArtsSpace!     60  Private room
7                       Large Furnished Room Near B'way      79  Private room
8                     Cozy Clean Guest Room - Family Apt     79  Private room
11                       Central Manhattan/near Broadway     85  Private room
12        Lovely Room 1, Garden, Best Area, Legal rental     89  Private room
13      Wonderful Guest Bedroom in Manhattan for SINGLES     85  Private room
17                                       Chelsea Perfect    140  Private room
21                        CBG CtyBGd HelpsHaiti rm#1:1-4    130  Private room
22                              CBG Helps Haiti Room#2.5     80  Private room
23                                 CBG Helps Haiti Rm #2    110  Private room
25                    Sunny Bedroom Across Prospect Park     60  Private room
26     Magnifique Suite au N de Manhattan - vue Cloitres     80  Private room
28          SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM     44  Private room
30                                 front room/double bed     50  Private room
31                   Spacious 1 bedroom in luxe building     52  Private room
32                     Loft in Williamsburg Area w/ Roof     55  Private room
33                                   back room/bunk beds     50  Private room
34                                 Large B&B Style rooms     70  Private room
35       Lovely room 2 & garden; Best area, Legal rental     89  Private room
36                           Clean and Quiet in Brooklyn     35  Private room
38                             Country space in the city    150  Private room
40                                   ENJOY Downtown NYC!     68  Private room
42                     1bdr w private bath. in lofty apt    120  Private room
43                                     West Side Retreat    135  Private room
46     1 Stop fr. Manhattan! Private Suite,Landmark B...    130  Private room
49                               Fort Greene brownstone      80  Private room
50       Blue Room for 2 in Brownstone for $1350 monthly     80  Private room
56                    Great Location, Manhattan Bedroom!    110  Private room
...                                                  ...    ...           ...
48845                                Private 5 star room     33  Private room
48846  #5 New Hotel-Like Private Room  KING bed near JFK     37  Private room
48847  #6 New Hotel-Like Private Room QUEEN Bed near JFK     34  Private room
48851   #7 New Hotel-Like Private Room KING bed near JFK     35  Private room
48852            Cozy Private Room in Bushwick, Brooklyn     30  Private room
48853     Sunny&quiet paradise in the WV with open views    202  Private room
48854  Gorgeous Brooklyn Penthouse Apartment w/City V...    150  Private room
48858  2beds Private Room Step to LGA, CitiFiled, Mid...     68  Private room
48859       two girls room , I speak Chinese and English     93  Private room
48862          Private room in a nice Brooklyn apartment    130  Private room
48863                Comfortable & Big room with 2 beds!     93  Private room
48864    Private Bedroom & PRIVATE BATHROOM in Manhattan     95  Private room
48865                      1 bedroom in sunlit apartment     80  Private room
48869                        Cozy, Sunny Brooklyn Escape     45  Private room
48871      A LARGE ROOM - 1 MONTH MINIMUM - WASHER&DRYER     35  Private room
48874                   Short Term Rental in East Harlem     50  Private room
48875                              Welcome all as family    140  Private room
48876    Cozy, Air-Conditioned Private Bedroom in Harlem     60  Private room
48877             Studio sized room with beautiful light     42  Private room
48878                                      Room for rest     45  Private room
48881                   Peaceful space in Greenpoint, BK     54  Private room
48882                          Bushwick _ Myrtle-Wyckoff     40  Private room
48883       Sunny Bedroom NYC! Walking to Central Park!!     75  Private room
48884        Brooklyn Oasis in the heart of Williamsburg    190  Private room
48885    Stunning Bedroom NYC! Walking to Central Park!!     75  Private room
48888  Spacious Room w/ Private Rooftop, Central loca...    125  Private room
48889                                 QUIT PRIVATE HOUSE     65  Private room
48890    Charming one bedroom - newly renovated rowhouse     70  Private room
48891      Affordable room in Bushwick/East Williamsburg     40  Private room
48894  Trendy duplex in the very heart of Hell's Kitchen     90  Private room

[22326 rows x 3 columns]

In [46]:
df.loc[(df['room_type'] == 'Private room') & (df['availability_365'] == 365), ['name', 'price', 'room_type', 'availability_365']]

,name,price,room_type,availability_365
0,Clean & quiet apt home by the park,149,Private room,365
2,THE VILLAGE OF HARLEM....NEW YORK !,150,Private room,365
36,Clean and Quiet in Brooklyn,35,Private room,365
38,Country space in the city,150,Private room,365
97,"Upper Manhattan, New York",89,Private room,365
139,Huge Private Floor at The Waverly,135,Private room,365
196,( F) Excellent/Pvt Rm,55,Private room,365
200,Clean and convenient 2BR apartment,140,Private room,365
204,Beautiful Uptown Manhattan apartmnt,200,Private room,365
237,Private Room/bath Luxurious Harlem,175,Private room,365
258,Large and Cozy Private Bedroom,39,Private room,365
348,"Modern, Safe, Clean, Bright Room in Astoria for 2",80,Private room,365
354,"The Brooklyn Waverly, One Bedroom",165,Private room,365
397,SUPER BIG AND COZY PRIVATE BEDROOM,39,Private room,365
444,Harlem/Hamilton Heights Cozy Room,75,Private room,365
449,Clinton Hill + Free Coffee = #smile,75,Private room,365
520,Room in Chic Modern High Line Luxury- New!,255,Private room,365
660,The Lenox in Harlem,125,Private room,365
683,"Read it 1st, A seprat fur BR, low $",54,Private room,365
749,GREAP STUDIO / 4PPL IN MIDTOWN,190,Private room,365
750,BEDFORD AV. ROOM IN WILLIAMSBURG..,75,Private room,365
772,Beautiful lrg 1800's syle apt share,75,Private room,365
864,Giant Sunny Bedroom & Private Bath in my Apart...,99,Private room,365
923,Beautiful Room in a Beautiful New NYC Apartment,89,Private room,365
935,COMFORTABLE LARGE ROOM,77,Private room,365
946,Beautiful 3 bedroom in Manhattan,3000,Private room,365
995,Stay with a Jazz Singer in Harlem!,125,Private room,365
1044,ROOM AVAILABLE IN NEW YORK CITY,145,Private room,365
1269,Clinton Hill Lux Apt Grill & Lawn,200,Private room,365
1276,Cozy Room in GREENPOINT Apt. YeY,199,Private room,365
...,...,...,...,...
47203,WOODSIDE COMFORTABLE ROOM 15 MINUTES FROM THE ...,90,Private room,365
47237,Suzy ville,65,Private room,365
47348,Private room close to Manhattan (L and M train),79,Private room,365
47358,Backyard Sleeping,89,Private room,365
47385,Cosy Bedroom in CITY CENTER,150,Private room,365
47416,New room! Cute & clean. Close to train. Wood f...,45,Private room,365
47459,The waterview quiet area and just everything,200,Private room,365
47485,Great place,80,Private room,365
47512,SPACIOUS STUDIO FLAT In Tree-Lined Neighborhood,86,Private room,365
47531,Hope Garden,130,Private room,365
47543,Recording Studio Overnight Stays. Downton Bklyn,100,Private room,365
47636,Large bedroom in super large elevator building,100,Private room,365
47656,Private Room in Ridgewood 25 mins from Manhatt...,60,Private room,365
47679,THE WHITE HOUSE BEDROOM 1,125,Private room,365
47744,THE WHITE HOUSE BEDROOM 2,100,Private room,365
47852,Stunning Private Room in Heart of NYC with Jac...,400,Private room,365
47893,2 Twin Beds Room,69,Private room,365
47924,Half rental fee the first month in Brooklyn!,50,Private room,365
47934,Amazing*Quiet*Sunny*Bedroom*PrivateLivingRm*Ch...,62,Private room,365
48000,"Luxury, Doorman, Steps From United Nations,",134,Private room,365
48109,Upper Court Room,69,Private room,365
48148,ROSE QUARTZ 1 BEDROOM,300,Private room,365
48330,bensonhurst area,85,Private room,365
48418,"Single bed step to Citi Field, LGA, JFK,Manhattan",45,Private room,365
48420,Private Room: Have your own and share some comm,70,Private room,365
48545,My Cozy Apartment!\nMy apartment has the best ...,75,Private room,365
48648,"✨Superb King Room , City View✨",101,Private room,365
48662,Very Clean Private Room Near Buses & Restauran...,66,Private room,365
48687,"✨Superior King Room , Manhattan View✨",101,Private room,365
48698,Private Times Square Room with Pool/Gym,180,Private room,365